
main {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 main .container {
    background: wheat;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    width: 100%;
    border: 3px solid rgba(0, 0, 0, 0.2);
}
main h2 {
    margin-top: 0;
}
main .form-group {
    margin-bottom: 15px;
}
main .form-group label {
    display: block;
    margin-bottom: 5px;
}
main .form-group input,
main .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
main .form-group textarea {
    resize: vertical;
}
main .form-group button {
   
   
    margin: 0 auto;
    

}

main .animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: greenyellow;
    box-shadow: 0 0 0 2px greenyellow;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  main .animated-button svg {
    position: absolute;
    width: 24px;
    fill: greenyellow;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  main .animated-button .arr-1 {
    right: 16px;
  }
  
  main .animated-button .arr-2 {
    left: -25%;
  }
  
  main .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: greenyellow;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  main .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  main .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
 main .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  main .animated-button:hover .arr-2 {
    left: 16px;
  }
  
 main  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  main .animated-button:hover svg {
    fill: #212121;
  }
  
  main .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px greenyellow;
  }
  
  main .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  
